:root {
  --ion-color-primary: #ff6b4a;
  --ion-color-primary-rgb: 255, 107, 74;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e85e42;
  --ion-color-primary-tint: #ff7b60;

  --ion-color-secondary: #ff6b4a;
  --ion-color-secondary-rgb: 255, 107, 74;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e85e42;
  --ion-color-secondary-tint: #ff7b60;

  --ion-color-tertiary: #ff6b4a;
  --ion-color-tertiary-rgb: 255, 107, 74;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e85e42;
  --ion-color-tertiary-tint: #ff7b60;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #f5f7fb;
  --ion-color-dark-rgb: 245, 247, 251;
  --ion-color-dark-contrast: #0b0e14;
  --ion-color-dark-contrast-rgb: 11, 14, 20;
  --ion-color-dark-shade: #d7d9de;
  --ion-color-dark-tint: #f6f8fc;

  --ion-color-medium: #9aa6bd;
  --ion-color-medium-rgb: 154, 166, 189;
  --ion-color-medium-contrast: #0b0e14;
  --ion-color-medium-contrast-rgb: 11, 14, 20;
  --ion-color-medium-shade: #8895ac;
  --ion-color-medium-tint: #a8b2c6;

  --ion-color-light: #0b0e14;
  --ion-color-light-rgb: 11, 14, 20;
  --ion-color-light-contrast: #f5f7fb;
  --ion-color-light-contrast-rgb: 245, 247, 251;
  --ion-color-light-shade: #0a0c12;
  --ion-color-light-tint: #1a1f2a;

  --ion-background-color: #0b0e14;
  --ion-background-color-rgb: 11, 14, 20;
  --ion-text-color: #f5f7fb;
  --ion-text-color-rgb: 245, 247, 251;
  --ion-card-background: #141824;
  --ion-item-background: #141824;
  --ion-toolbar-background: rgba(11, 14, 20, 0.9);
  --ion-tab-bar-background: rgba(12, 15, 22, 0.95);
}
